 {% extends "parent/base.html" %}

        {% block title %}
            {% if post %}
            editpost
            {% else %}create post
            {% endif %}
        {% endblock %}



{% block content %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
{#    model 1 #}
{#        {% for field in form %}#}
{#            {{ field.name }}#}
{#            {{ field }}#}
{#            {{ field.error }}#}
{#        {% endfor %}#}
{#    model  2  (as_p, as_ul, as_ol) #}
{#        عنوان :#}
{#        <input type="text" name="title" required>#}
{#        <br>#}
{#        توضیحات :#}
{#       <textarea name="description"></textarea>#}
{#        <br>#}
{#        زمان مطالعه :#}
{#        <input type="number" name="reading_time" required>#}
{#        <br>#}
{#        تصویر اول :#}
{#        <input type="file" name="image1" >#}
{#        <br>#}
{#        تصویر دوم :#}
{#        <input type="file" name="image2" >#}
{#        <br>#}
        {{ form.as_p }}
        {% if post %}
            {% for img in post.images.all %}
                    <img width="300px" height="300px" src="{{ img.image_file.url }}" alt="{{ img.title }}">
                <a href="{% url 'blog:delete-image' img.id%}">حذف عکس</a>
            {% endfor %}
        {% endif %}
    <br><br>
        <input value="ثبت پست" type="submit">
    </form>

 {% endblock %}
