{% extends "parent/base.html" %}
{% load jformat %}
{% load blog_tags %}
{% block title %}posts-detail
{% endblock %}
{% block content %}
    <h1 style="text-align: center">post detail</h1>

    <div class="content">
    <h3> {{ post.title }}(by {{ post.author }})</h3>
        <article>{{ post.description |markdown  }}</article>
</div>
    <center>
    {% for img in post.images.all %}
        <img src="{{ img.image_file.url }}" alt="{{ img.title }}">
    {% endfor %}
    </center>
    <hr>
    <p>{{ post.publish|jformat:"%A %d %B %Y- %H:%M" }}</p>
    <br><br>
    <hr>
    <div>
    {% with comments.count as com_count %}
    {{ com_count }} comment{{ com_count|pluralize }}
    {% endwith %}
    </div>

    <div>
    {% for cm in comments %}
        {{ cm.massage|linebreaks }}
        <br>
        {{ cm.name }}
        {% empty %}
        کامنتی وجود ندارد!
    {% endfor %}
    </div>
    {% include 'forms/comment.html' %}

{% endblock %}